.owl-carousel .item{
 /* border: 1px solid black; */
font-family: Roboto,Arial,sans-serif;
letter-spacing: 0;
font-weight: 500;
font-size: 18px;
display: block;
cursor: pointer;
} 

.owl-next{
 float:right;
}
.owl-prev{
 float:left;
}
.owl-prev span{
 font-size: 24px;
 font-weight: bold;
}
.owl-next span{
 font-size: 24px;
 font-weight: bold;
}

._3Ay6Sb{
    color:green;
    font-size: 15px;
    letter-spacing: -.2px;
    font-weight: 500;
}



.baseBlock{
    margin: 0px 0px 35px 0px;
    padding: 0 0 15px 0px;
    /* border: 2px solid rgb(245, 11, 11); */
	/* border-radius: 13px; */
	overflow: hidden;
    min-height: 50px;
    justify-content: center;
    text-align: center;
	background: #fff;
} 


.base {
	margin: 0px 0px 35px 0px;
	padding: 0 0 15px 0px;
	border-radius: 5px;
	overflow: hidden;
    min-height: 50px;
    justify-content: center;
    text-align: center;
	background: #fff;
	/* cursor: pointer; */
	transition: transform .2s ease-in-out,-webkit-transform .2s ease-in-out;
}

.base:hover {
	-webkit-transform: translate(0, -8px);
	-moz-transform: translate(0, -8px);
	-ms-transform: translate(0, -8px);
	-o-transform: translate(0, -8px);
	transform: translate(0, -8px);
	box-shadow: 0 40px 40px rgba(0, 0, 0, 0.2);
}

