{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Reset complete{% endblock title %}
{% block main-content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3><b>Password Reset Completed!</b></h3>
            <hr>
            <div class="col-sm-6 offset-sm-1 text-center">
                <h3>Password Change Successfully !!</h3>
                <div><iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="200" height="200"  frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}