{% extends 'app/base.html' %}
{% load static %}
{% block title %}Address{% endblock title %}
{% block main-content %}

<div class="container my-5">
    <div class="row">
    <div class="col-sm-8 offset-2">
        <h4 class="alert alert-info text-center">Edit Your profile</h4>
        <form action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
          <strong>Message : </strong> {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>
        {% endfor %}
        {% endif %}
        
            <input type="submit" value="update" class="btn btn-success">
        </form>
    </div>
</div>
</div>

{% endblock main-content %}